body {
   

}

@font-face {
    font-family: "PPRegular";
    src: url("ppmondwest-regular.woff") format("woff");
}

@font-face {
    font-family: "PPBold";
    src: url("ppneuebit-bold.woff") format(woff);
}

h1{
    font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 600;
    font-size: 200px;
    font-style: normal;
}

h2{
    font-family: "PPBold";
    font-size: 100px;
}

div.title {
    text-align: center;
    margin-bottom: -160px;
    background-color: aqua;

}

div.contents {
    text-align: center;
}

div.box {
    width: 460px;;
    background-color: azure;
    font-family: univers-next-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72;
    margin-left: auto;
    padding: 20;
    border-radius: 20px;
}

div.box{
    
}
