@font-face {
    font-family: "PPRegular";
    src: url("ppmondwest-regular.woff") format("woff");
}

@font-face {
    font-family: "PPBold";
    src: url("ppneuebit-bold.woff") format(woff);
}

@font-face {
    font-family: "Univers";
    src: url()

}

body {
    font-family: univers-next-pro, sans-serif;
    margin: 0  ;
}

/*headings*/

h1{
    font-family: "franklin-gothic-condensed", sans-serif;
    font-weight: 600;
    font-size: clamp(3.75rem, -2.5rem + 16.667vi, 10rem);
    font-style: normal;
    text-transform: uppercase;
    text-shadow:
    2px 2px 20px  rgba(58, 58, 58, 0.5),
    5px -5px hsl(0, 0%, 90%),
    10px -10px hsl(0, 0%, 80%),
    15px -15px hsl(0, 0%, 70%),
    20px -20px hsl(0, 0%, 60%),
    25px -25px hsl(0, 0%, 50%),
    30px -30px hsl(0, 0%, 40%),
    35px -35px hsl(0, 0%, 30%),
    40px -40px hsl(0, 0%, 20%),
    45px -45px hsl(0, 0%, 10%),
    50px -50px hsl(0, 0%, 0%),
    55px -55px hsl(0, 0%, 10%),
    60px -60px hsl(0, 0%, 20%),
    65px -65px hsl(0, 0%, 30%),
    70px -70px hsl(0, 0%, 40%),
    75px -75px hsl(0, 0%, 50%),
    80px -80px hsl(0, 0%, 60%),
    85px -85px hsl(0, 0%, 70%),
    90px -90px hsl(0, 0%, 80%),
    95px -95px hsl(0, 0%, 90%),
    100px -100px hsl(0, 0%, 100%),
    105px -105px hsl(0, 0%, 90%),
    110px -110px hsl(0, 0%, 80%),
    115px -115px hsl(0, 0%, 70%),
    120px -120px hsl(0, 0%, 60%),
    125px -125px hsl(0, 0%, 50%),
    130px -130px hsl(0, 0%, 40%),
    135px -135px hsl(0, 0%, 30%),
    140px -140px hsl(0, 0%, 20%),
    145px -145px hsl(0, 0%, 10%);
}

h2{
    font-family: "PPBold";
    font-size: 40px;
}

h3{
    font-size: 18pt;
    font-weight: 600;
    line-height: 22pt;
    margin-top: 2px;
    margin-bottom: 2px;
}
h5{
    font-family: "PPBold";
    font-size: 60px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 10pt;
    color: white;
}
h6{
    font-family: "PPBold";
    font-size: 60px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 10pt;
    color: white;
}

title{ 
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}


/*divs*/

div.body{
    font-size: 28px;
    line-height: 32px;
    margin-top: 32px;
}

div.box {
    margin-left: auto;
}

div.boxscroll{
    width: 460px;
    height:200px;
    background-color: white;
    font-family: univers-next-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    overflow:scroll;
}

div.borderB{
    border-bottom: 5px solid black;
    width: auto;
}

div.borderT{
    border-top: 5px solid black;
    width: auto;
}

div.borderR{
  border-right: 6px solid black;
  height: 300px;
  padding-left: 40px;
  margin-right: 60px;
}

div.background{
    background-image: url(moon.jpg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}

div.comment{
    background-color: lightskyblue;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;

}

div.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding:80px
}

div.contents{
    margin-bottom: -800px;
}

div.container{
    display: flex;
    flex-wrap: wrap;
}

div.footnote{
    font-size: 12px;
    margin-top: 20px;
    background-image: url(mountain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.intro{
    font-size: 18px;
    line-height: 24px;
    margin-top: 2px;
    max-width: 900px;  
}

div.justify{
    text-align: justify;
}

div.label{
    text-transform: uppercase;
    font-size: 20pt;
    letter-spacing: 2pt;   
}

div.nav {
  position:fixed;
  top:0px;
  right:0px;
  width:auto;
  text-align: left ;
  padding:10px;
  mix-blend-mode: difference;
}

div.scroll {
  position:fixed;
  top:0px;
  left:0px;
  width:auto;
  text-align: right ;
  padding:10px;
}

div.quote{
    text-transform: uppercase;
    font-size: 20pt;
    letter-spacing: 2pt;   
}

div.title{
    text-transform: uppercase;
    font-size: 100px;
}

div.titlefont {
    color:whitesmoke;
    padding: 0px;
    margin-bottom:-150px;
    width: 100%;
    text-align: center;

}

div.left{
    text-align: left;
}

div.right{
    text-align: right;
}

div.white{
    background-color: white;
}

div.whitetext{
   color:white;
}

/*widths why are some of them margined and not hmm */

div.width50{
    width: 50%;
    margin-right: auto;
    height: 300;
}

div.width40{
    width: 40%;
    height: auto;
    padding-right: 40px;
}

div.width60{
    width: 100%;
    height: auto;
    margin-left: 60%;
}

/*images*/

img {
    width:100%
}

img.border {
    border:10px solid white;
}


/*details*/

details summary {
  list-style:none;
  cursor:pointer;
}

details summary::-webkit-details-marker {
  display: none;
}